@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed');

* {
  box-sizing: border-box;
  -mox-box-sizing: border-box;
}

span.barra{
  color: #fff;
  letter-spacing: 4px;
  font-size: 15px;
  display: block;
  
}
span.barra:hover{
  /*color: rgba(97, 97, 97, 0.62);*/
  /*letter-spacing: 4px;*/
}

body {
  /*height: 100%;*/
  background-color: rgb(66, 98, 119);
  margin: 0;
}

h1 {
  font-size: 100px;
  margin: 20px 0;
  color: #505050;
}

body {
  font-family: helvetica, arial, sans-serif;
}

.gris{
  color: rgba(89, 117, 156, 0.6)!important;
}

#nav_wrap {
  background: white;
  width: 100%;
  /*height: 65px;*/
  /*position: absolute;*/
  bottom: 0;
  overflow: hidden;
  z-index: 100;
  opacity: .9;
  /*box-shadow: 0px 1px 4px #343434;*/
}

#bienvenida {
  background: white;
  width: 100%;
  height: 65px;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  z-index: 100;
  opacity: .9;
  /*box-shadow: 0px 1px 4px #343434;*/
}

nav {
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: bolder;
  width: 90%;
  margin: 0 auto;
  transition: .5s;
}

.nav_animate {
  /*width: 70%;*/
  transition: .5s;
}

nav a{
  display: inline-block;
  font-size: 21px;
  text-decoration: none!important;
  color: #505050;
  width: 19.81%;
  text-align: center;
  /*line-height: 65px;*/
  text-transform: uppercase;
  border-top: 5px solid #0056b3;
}

nav a:hover {
  border-top: 5px solid #4a4a4a;
  transition: .4s;
  letter-spacing: 4px;
  background-color: rgb(201, 201, 201);
}

li a.noborder{
  border-top: 0px!important;
}


/*comentado por datatable   */
li.bn{
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: bolder;
  margin: 0 auto;
  transition: .5s;
}
li a.bn{
  display: inline-block;
  font-size: 21px;
  text-decoration: none!important;
  color: #505050;
  width: 97%;
  text-align: center;
  text-transform: uppercase;
  border-top: 5px solid #0056b3;
}
li a.bn:hover{
  border-top: 5px solid #4a4a4a;
  transition: .4s;
  letter-spacing: 4px;
  background-color: rgb(201, 201, 201);
}

.sticky {
  /*position: sticky;*/
  top: 0;
}

#logo{
  /*position: absolute;*/
  color: black;
  z-index: 100;
  transition: 1s;
  line-height: 80px;
}

#logo {
  /*left: -150px;*/
  /*font-size: 25px;*/
  background: #4a4a4a;
  height: 67px;
  line-height: 65px;
  padding: 0 10px;
  margin: 0;
  color: #fff;
  /*cursor: pointer;*/
  font-weight: bolder;
}

#mainlogo {
  font-size: 150px;
  color: white;
  border: 10px solid white;
  display: inline-block;
  padding: 25px;
  position: absolute;
  height: 230px;
  line-height: 100px;
  top: 50%;
  margin-top: -180px;
  left: 50%;
  width: 600px;
  text-align: center;
  margin-left: -300px;
  text-shadow: 1px 2px 1px #000;
  box-shadow: 1px 2px 1px #000;
}

#mainsocial {
  font-size: 35px;
  line-height: 80px;
}

.hoverblk {
  transition: .3;
}

.hoverblk:hover {
  color: #5656B3;
  transition: .3s;
}

.bloqueo{
  cursor: not-allowed!important;
}
