.consultarmes {
    position: absolute;
    left: 54%;
    right: 4%;
    top: 4%;
    background-color: rgba(255, 255, 255, 0.4);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    margin-top: 130px;
}

.card-header{
  background-color: transparent!important;
}

.listames{
  color: rgb(29, 79, 136);
  letter-spacing: 3px
}

.semanas{
  background-color: rgba(152, 24, 24, 0.14);
}


.links {
  text-align: right;
}
.links .ver{
  cursor: pointer;
  opacity: 0.6;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.links  .ver  .icon1 {
  display: inline-block;
  text-align: center;
  padding: 1px 0 0 0;
  font-size: 1.1rem;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  line-height: 0!important;
}
.links .ver  span {
  overflow: hidden;
  display: inline-flex;
  margin-left: 5px;
  font-size: 0.8rem;
  width: 0px;
  font-weight: 600;
  white-space: nowrap;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 20px;
}
.links .ver:hover {
  opacity: 1.0;

}

.links .ver:hover span{
  width: 190px;
}

.encabezado{
  letter-spacing: 3px;
  color: rgba(62, 109, 140, 0.85);
}


.table-fixed tbody {
  max-height: 520px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed tbody {
  display: block;
}
