@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


/* PARA QUITAR FONDO AMARILLO DE LOS INPUTS */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: rgba(47, 89, 119, 0.63)!important;
}
.client-list{
  border: solid 1px rgba(0, 0, 0, .1);
  padding: 5px;
}

.client-list p:not(:last-child){
  border-bottom: solid 1px black;
}

.client-list p{
  padding:5px;
  margin: 0px;
}

.client-list p:hover{
  background-color: rgba(0, 0, 0, .16);
  cursor: pointer;
}

.page {
    position: absolute;
    left: 4%;
    right: 4%;
    top: 4%;
    background-color: rgba(255, 255, 255, 0.4);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    margin-top: 130px;
    margin-bottom: 80px;
    /*margin-left:-10px;
    width: 1350px;*/
}


.dt-page {
    position: absolute;
    left: 2%;
    right: 2%;
    top: 14%;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
}

.agregarnuevo{
  position: absolute;
  left: 65%;
  right: 4%;
  top: 4%;
  background-color: rgba(255, 255, 255, 0.4);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  margin-top: 130px;
}

.clt_usr {
  text-align: right;
}

.clt_usr .consultar,.clt_usr .mod, .clt_usr .buscador, .clt_usr .search{
  cursor: pointer;
  opacity: 0.6;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.clt_usr  .consultar  .icon,.clt_usr .mod .icon,.clt_usr  .buscador  .icon,.clt_usr  .search  .icon {
  display: inline-block;
  text-align: center;
  padding: 1px 0 0 0;
  font-size: 1.1rem;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  line-height: 0!important;
}

.clt_usr .consultar  span,.clt_usr .mod span,.clt_usr .buscador  span,.clt_usr .search  span  {
  overflow: hidden;
  display: inline-flex;
  margin-left: 5px;
  font-size: 0.8rem;
  width: 0px;
  font-weight: 600;
  white-space: nowrap;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 20px;
}

.clt_usr .consultar:hover,.clt_usr .mod:hover,.clt_usr .buscador:hover,.clt_usr .search:hover{
  opacity: 1.0;
}

.clt_usr .consultar:hover span,.clt_usr .mod:hover span,.clt_usr .buscador:hover span,.clt_usr .search:hover span{
  width: 190px;
}

.clt_usr .consultar:hover .spanA,.clt_usr .mod:hover .spanA  {
  width: 145px;
}
.clt_usr .consultar:hover .spanM {
  width: 80px;
}

/* .clt_usr .consultar:hover .spanM {
  width: 60px;
} */

.clt_usr .buscador:hover .spanB, .clt_usr .search:hover .spanB{
  width: 200px;
}

.clt_usr .consultar:hover .spanD{
  width: 165px;
}
.clt_usr .vent:hover span{
  width: 120px!important;
}

.m20{
  margin:20px;
}

#item .visibilidad{
  display: none;
}

#item:hover .visibilidad{
  display:block
}

.icono{
  width: 30px;
}
.iconoNota{
  width: 15px;
}

#item:hover .icono{
  width: 35px;
}

.bordelateral:hover{
  border-left: 8px solid #014c8c;
}


.bordeAbajo{
  border-bottom: 2px solid #1b1b1b;
}

.ancla{
  color: #014c8c!important
}

.boton{
  color: white;
  background-color: #014c8c;
  font-size: 13px
}

.boton:hover{
  background-color: #2a608e;
  letter-spacing: 3px;
}

a{
  color: black;
}

h4,h2{
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
  letter-spacing: 1px
}

.encabezado{
  letter-spacing: 3px;
  color: rgba(62, 109, 140, 0.85);
  border-bottom:2px solid #ccc
}

.piedetabla{
  letter-spacing: 3px;
  color: rgba(62, 109, 140, 0.85);
  border-top:2px solid #ccc
}

.table-fixed tbody {
  max-height: 500px;
  overflow-y: auto;
  width: 100%;
  display: block;

}

/* .table-fixed tbody {
} */
p{
  color:rgb(66, 125, 158);
}
p.titulo{
  color:rgb(66, 125, 158);
  font-size: 1.75rem;
  font-weight: 500;
}

a.linkboton{
	font-family: 'Montserrat', sans-serif;
	text-transform:uppercase;
	/*letter-spacing:3px;*/
	display:inline-block;
	text-decoration:none!important;
	color:black;
	padding: 10px 30px;
	border: 2px solid black;
	border-radius:5px;
	position:relative;
	overflow:hidden;
	transition: all ease 400ms;
  -webkit-transition: all ease 400ms;
  -moz-transition: all ease 400ms;
  -ms-transition: all ease 400ms;
  font-size: 14px; /*estaba en 15 px*/
  text-align: center!important;
}

a.linkboton span{
	display:block;
	position:absolute;
	background: rgba(47, 89, 119, 0.63);
	transition: all ease 400ms;
  -webkit-transition: all ease 400ms;
  -moz-transition: all ease 400ms;
  -ms-transition: all ease 400ms;
	z-index:-1;
}

a.linkboton span.a{
	display:block;
	position:absolute;
	background: rgba(200, 28, 28, 0.63);
	transition: all ease 400ms;
  -webkit-transition: all ease 400ms;
  -moz-transition: all ease 400ms;
  -ms-transition: all ease 400ms;
	z-index:-1;
}

a.linkboton span.top{
	left:0;
	top:-50%;
	right:0;
	bottom:100%;
	border-radius:50%;
}

a.linkboton:hover{
	color:white!important;
	border: 2px solid rgba(117, 117, 117, 0.49);
  letter-spacing:0.5px;
}

a.linkboton:hover span.top{
	top:0;
	bottom:0;
	border-radius:0;
}


/*PARA COLAPSO;*/
.colapso {
  color: blue;
  padding: 10px;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

a.boton-colapso{
  text-decoration: none!important;
}

a.boton-colapso:hover{
  color: rgba(47, 89, 119, 0.63);
}

.mt-40{
  margin-top: 40px!important;
}


.rotate-icon {
  transition: transform 0.3s ease-out;
}
.rotate-link:hover .rotate-icon{
  transform: rotate(360deg);
}

.spand-icon {
  width: 25px;
  cursor: pointer;
}
.spand-link:hover .spand-icon{
  width: 30px;
}

.spand-iconp {
  width: 18px;
}
.spand-link:hover .spand-iconp{
  width: 20px;
}

.fixed-program tbody{
  display: block;
  max-height: 280px;
  overflow-y: auto;
}

.fixed-table tbody{
  display: block;
  max-height: 540px;
  overflow-y: auto;
}

.verde{
  background-color: rgba(33, 255, 94, 0.1);
}
.rojo{
  background-color: rgba(249, 133, 140, 0.15);
}

#bloqueo{
  cursor: not-allowed!important;
}


.ocultar{
  display: none!important;
}

.buscar{
  border-radius: 8px;
  background-color: rgba(74, 119, 152, 0.2);
  font-size: 14px;
}
.footer{

  position: fixed;
  bottom: 0px;
  background-color: #fff;
  list-style: none;
  width: 100%;
  float: right;
  margin-top: 50px;
  margin-bottom: 1px;
}
.footer li a{
font-size: 18px;
list-style: none;
}
.footer li a:hover{
  transition: .4s;
  letter-spacing: 4px;
  background-color: transparent;
  font-weight: normal;
  list-style: none;

}

.footerCalendar{
  bottom: 0px;
  background-color: #fff;
  list-style: none;
  width: 100%;
  float: right;
  /* margin-top: 50px; */
  margin-bottom: 1px;
}
.footerCalendar li a{
font-size: 18px;
list-style: none;
}
.footerCalendar li a:hover{
  transition: .4s;
  letter-spacing: 4px;
  background-color: transparent;
  font-weight: normal;
  list-style: none;

}

/* MANTENIMINETO */
.pantallaGris{
  background-color: rgb(240, 240, 240);
  height: 700px;
}



.tituloMantenimiento{
  text-align: center;
  margin-top: 260px;
  letter-spacing: 8px;
  color: rgb(210, 210, 210);
  font-size: 100px
}
/*termina pantalla Mantenimiento*/

/*SIN REGISTROS*/
.pantallaRegistros{
  background-color: rgba(240, 240, 240, 0.3);
  height: 640px;
}

.tituloSinRegistros{
  text-align: center;
  margin-top: 260px;
  letter-spacing: 8px;
  color: rgb(210, 210, 210,0.8);
  font-size: 50px
}
/*termina pantalla sin registros*/
.submenuMed {
  background-color: rgba(66, 125, 158, 0.21);
  height: 50px;
}
.submenuch {
  background-color: rgba(66, 125, 158, 0.21);
  height: 20px;
}
div.submenuMed {
  padding:10px;
}

#submenuchico{
  cursor: pointer;
  background-color: transparent!important;
  color: rgb(66, 125, 158)!important;
  font-size: 12px;
  border-top: 0px !important;
}
#submenuchico:hover, #submenuchico:focus {
  color: rgb(66, 125, 158)!important;
  letter-spacing: 3px!important;
  font-size: 13px;
}


/* PRUEBA DE CSS PARA DATATABLES */
.pagination{
  color: black!important;
}

.dataTables_info{
  font-size: 18px;
  color: red
}

.paginate_button{

}

 .page-item{
   color: black;
 }

 .page-item.active .page-link{
   color: black;
   background-color: transparent;
   border-color: #ccc;
 }



 /* popup-list */
.popup-list{
  width: -webkit-fill-available;
  border-radius: 5px;
  border: 1px solid #ced4da;
  background-color: white;
  padding: 10px;
  z-index: 9999;
}

.popup-list p{
  padding: 10px;
  margin-bottom: 0px;
}

.popup-list p.hovered{
  background-color: rgba(0, 0, 0, .2);
  cursor: pointer;
  color: white;
}

.popup-list p:not(:last-child){
  border-bottom: 1px solid #ced4da;
}

.popup-list p:last-child{
  margin-bottom: 0px;
}
/* FINALIZA popup-list */

.lin{
  color: BLACK;
  background-color: rgba(227, 227, 227, 0.68);
}

.ef{
  text-shadow: 1px 1px 8px rgba(62, 109, 140, 0.60);
}

.c-select {
  display: inline-block;
  max-width: 100%;
  height: calc(3.25rem + 2px);
  padding: .375rem 1.75rem .375rem .75rem;
  line-height: 1.25;
  color: #495057;
  vertical-align: middle;
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
  background-size: 8px 10px;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: .85rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

.c-select:focus {
  border-color: #80bdff;
  outline: 0
}

.c-select:focus::-ms-value {
  color: #495057;
  background-color: #fff
}

.c-select:disabled {
  color: #868e96;
  background-color: #e9ecef
}

.m{
  text-align: center!important;
}

.bsha{
      box-shadow: 0.2px 0.7px 1px;
}
.font12{
  font-size: 13px;
}
.priv{
  background-color: rgba(47, 89, 119, 0.63);
  color: white;
  font-size: 18px;
}
.privsub{
  background-color: rgba(213, 213, 213, 0.63);
  color: black;
  font-size: 16px;

}
.gris{
  color: rgb(130, 130, 130)!important;
}
.bordebottom{
  border-bottom: #ccc 1.4px solid;
}




/* CHECK BOX */

.badgebox
{
    opacity: 0;
}

.badgebox + .badge
{
    /* Move the check mark away when unchecked */
    text-indent: -999999px;
    /* Makes the badge's width stay the same checked and unchecked */
	width: 27px;
}

.badgebox:focus + .badge
{
    /* Set something to make the badge looks focused */
    /* This really depends on the application, in my case it was: */

    /* Adding a light border */
    box-shadow: inset 0px 0px 5px;
    /* Taking the difference out of the padding */
}

.badgebox:checked + .badge
{
    /* Move the check mark back when checked */
	text-indent: 0;
}




/* The switch - the box around the slider */
.switch {
  position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    float: right;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/* input.default:checked + .slider {
  background-color: #444;
}
input.primary:checked + .slider {
  background-color: #2196F3;
} */
input.success:checked + .slider {
  background-color: #8bc34a;
}
/* input.info:checked + .slider {
  background-color: #3de0f5;
}
input.warning:checked + .slider {
  background-color: #FFC107;
}
input.danger:checked + .slider {
  background-color: #f44336;
} */

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



/* CONTENEDOR MOVIBLE */
.containermov {
  overflow: hidden;
}
.containermov .contenedor-movible {
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.containermov div {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
}
.contorno-mov{
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px 20px 5px 20px!important;
}
