a{
  cursor: pointer;
}
a.iconos{
  letter-spacing: 6px;
}

a.iconos:hover{
  color: gray!important;
  text-decoration: none;
  letter-spacing: 10px;
}

/* LINKS REDIRECCION BOTONES*/
a.linkboton{
	font-family: 'Montserrat', sans-serif;
	text-transform:uppercase;
	letter-spacing:3px;
	display:inline-block;
	text-decoration:none;
	color:black;
	padding: 10px 30px;
	border: 2px solid black;
	border-radius:5px;
	position:relative;
	overflow:hidden;
	transition: all ease 400ms;
  -webkit-transition: all ease 400ms;
  -moz-transition: all ease 400ms;
  -ms-transition: all ease 400ms;
  font-size: 15px;
  text-align: center!important;
}

a.linkboton span{
	display:block;
	position:absolute;
	background: rgba(47, 89, 119, 0.63);
	transition: all ease 400ms;
  -webkit-transition: all ease 400ms;
  -moz-transition: all ease 400ms;
  -ms-transition: all ease 400ms;
	z-index:-1;
}

a.linkboton span.top{
	left:0;
	top:-50%;
	right:0;
	bottom:100%;
	border-radius:50%;
}


a.linkboton:hover{
	color:white!important;
	border: 2px solid rgba(117, 117, 117, 0.49);
  letter-spacing:5px;
}

a.linkboton:hover span.top{
	top:0;
	bottom:0;
	border-radius:0;
}


a.linkboton{
	font-family: 'Montserrat', sans-serif;
	text-transform:uppercase;
	letter-spacing:3px;
	display:inline-block;
	text-decoration:none;
	color:black;
	padding: 10px 30px;
	border: 2px solid black;
	border-radius:5px;
	position:relative;
	overflow:hidden;
	transition: all ease 400ms;
  -webkit-transition: all ease 400ms;
  -moz-transition: all ease 400ms;
  -ms-transition: all ease 400ms;
  font-size: 15px;
  text-align: center!important;
}



/*PARA COLAPSO;*/

.colapso {
  color: blue;
  padding: 10px;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.colapso.active {
  background-color: rgba(255,255,255,0.9);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  z-index: 200;
  color:#444;
  max-height:3000px;
  padding:10px 20px;
  margin: 10px -10px;
  transition: all 0.2s,max-height 4.8s;
}
.colapso h2 {
  font-size: 18px;
  line-height: 20px;
  position:relative;
  margin-top: -5;
}
.colapso h2::after{
  content: url("/fitcoControl/Resources/iconos/plus.svg");
  text-align:center;
  position:absolute;
  width:30px;
  opacity:0.5;
  right:-710;
}
.colapso h2.dos::after{
  content: url("/fitcoControl/Resources/iconos/plus.svg");
  text-align:center;
  position:absolute;
  width:30px;
  opacity:0.5;
  right:-826;
}
.colapso:hover h2::after{
  opacity:1
}

.boton-colapso{
  font-size: 18px;
  line-height: 20px;
  position: relative;
  margin-top: -5;
}
a.boton-colapso{
  text-decoration: none;
}
a.boton-colapso:hover{
  color: rgba(47, 89, 119, 0.63);
}
.mt-40{
  margin-top: 40px!important;
}



.rotate-icon {
  transition: transform 0.3s ease-out;
}
.rotate-link:hover .rotate-icon{
  transform: rotate(360deg);
}




/*BOTONES*/
