.page {
    position: absolute;
    left: 4%;
    right: 4%;
    top: 4%;
    background-color: rgba(255, 255, 255, 0.4);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    margin-top: 130px;
    /*margin-left:-10px;
    width: 1350px;*/
}
.agregarnuevo{
  position: absolute;
  left: 65%;
  right: 4%;
  top: 4%;
  background-color: rgba(255, 255, 255, 0.4);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  margin-top: 130px;
}
.functions {
  float: right;
}
.functions .add {
  cursor: pointer;
  opacity: 0.6;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.functions .add .icon {
  display: inline-block;
  border: 2px solid gray;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 1px 0 0 0;
  font-size: 1.1rem;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.functions .add span {
  overflow: hidden;
  display: inline-block;
  margin-left: 5px;
  font-size: 0.8rem;
  width: 0px;
  font-weight: 600;
  white-space: nowrap;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 20px;
}
.functions .add:hover {
  opacity: 1.0;
}
.functions .add:hover span {
  width: 180px;
}
/*en hover rota y los colores se ponen inversos*/
.functions .add:hover .icon {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  background: gray;
  color: white;
}
.m0{
  margin: 0px!important;
}
.p0{
  padding: 0px!important;
}
.m20{
  margin:20px;
}


#item .visibilidad{
  display: none;

}
#item:hover .visibilidad{
  display:block
}

.icono{
  width: 30px;
}
#item:hover .icono{
  width: 50px;
}
.bordelateral:hover{
  border-left: 8px solid #014c8c;
}

.ancla{
  color: #014c8c!important
}
.boton{
  color: white;
  background-color: #014c8c;
  font-size: 13px
}
.boton:hover{
  background-color: #2a608e;
  letter-spacing: 3px;
}




/*  ICONOS  */

.funcion .add {
  cursor: pointer;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}


.funcion .add .rotar {
  border-radius: 100%;
  padding: 1px 0 0 0;
  font-size: 1.1rem;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  color: black;
}

.funcion .add:hover .rotar {
  -moz-transform: rotate(3600deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  color: #014c8c;
}

a{
  color: black;
}
