
@import url('https://fonts.googleapis.com/css?family=Quicksand');


/* PARA QUITAR FONDO AMARILLO DE LOS INPUTS */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: rgba(47, 89, 119, 0.63)!important;
}

.page {
    position: absolute;
    left: 4%;
    right: 4%;
    top: 4%;
    background-color: rgba(255, 255, 255, 0.4);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    margin-top: 130px;
    /*margin-left:-10px;
    width: 1350px;*/
}
.agregarnuevo{
  position: absolute;
  left: 65%;
  right: 4%;
  top: 4%;
  background-color: rgba(255, 255, 255, 0.4);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  margin-top: 130px;
}
.clt_usr {
  text-align: right;
}
.clt_usr .consultar{
  cursor: pointer;
  opacity: 0.6;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.clt_usr  .consultar  .icon {
  display: inline-block;
  text-align: center;
  padding: 1px 0 0 0;
  font-size: 1.1rem;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  line-height: 0!important;
}
.clt_usr .consultar  span {
  overflow: hidden;
  display: inline-flex;
  margin-left: 5px;
  font-size: 0.8rem;
  width: 0px;
  font-weight: 600;
  white-space: nowrap;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 20px;
}
.clt_usr .consultar:hover {
  opacity: 1.0;

}

.clt_usr .consultar:hover span{
  width: 190px;
}


.m20{
  margin:20px;
}


#item .visibilidad{
  display: none;

}
#item:hover .visibilidad{
  display:block
}

.icono{
  width: 30px;
}
#item:hover .icono{
  width: 50px;
}
.bordelateral:hover{
  border-left: 8px solid #014c8c;
}

.ancla{
  color: #014c8c!important
}
.boton{
  color: white;
  background-color: #014c8c;
  font-size: 13px
}
.boton:hover{
  background-color: #2a608e;
  letter-spacing: 3px;
}




/*  ICONOS

.funcion .add {
  cursor: pointer;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}


.funcion .add .rotar {
  border-radius: 100%;
  padding: 1px 0 0 0;
  font-size: 1.1rem;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  color: black;
}

.funcion .add:hover .rotar {
  -moz-transform: rotate(3600deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  color: #014c8c;
}*/

a{
  color: black;
}

h4,h2{
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  letter-spacing: 1px
}
